/* SAUCE CORP 4CHAN PACK 
Restricted use
Misuse will result in sanctions. */

.ch4-r, .ch4-b{
    font-family: "Arial";
}

.title, .user, .mod, .classic, .greentext, .postlink, .filelink{
    font-size: 0.85rem;
}

/* ---------- Theme 1 - Theme Red (.ch4-r) ---------- */


/*Backgrounds & boxes*/

.ch4-r .background{
    background-color: #FFFFEE;
}

.ch4-r .postbox{
    background-color: #F0E0D6;
}

/*Text*/
.ch4-r .title{
    color: #CC1105;
    font-weight: bold;
}

.ch4-r .user{
    color: #117769;
    font-weight: bold;
}

.ch4-r .mod{
    color: #80009C;
    font-weight: bold;
}

.ch4-r .classic{
    color: #9F3E3C;
}

.ch4-r .greentext{
    color: #839F32;
}

.ch4-r .postlink{
    color: #000080;
}

.ch4-r .filelink{
    color: #0000EE;
    text-decoration: underline;
}

/* ---------- Theme 2 - Theme Blue (.ch4-b) ---------- */


/*Backgrounds & boxes*/
.ch4-b .background{
    background-color: #EEF2FF;
}

.ch4-b .postbox{
    background-color: #D6DAF0;
}