/*CSS For Press Section*/

.press h1{
    font-weight: 600;
    font-size: 3rem;
}

.press .title-caption{
    
}

.press .tags{
    font-size: 1.5rem;
}

.press .hr-title{
}

.press .media-div{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    text-align: center;
}

.press .main-image{
    height: 30rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 1rem;
    text-align: center;
}

.press audio, video, iframe{
    padding: 1rem;
}

.press .media-div .quote-div{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: auto;
}

.press .media-div .quote-div .quote{
    font-size: 2rem;
    padding-top: 1rem;
}


.press .media-caption{
    padding-bottom: 0.5rem;
    font-size: 0.85rem;
}

.press .article-text{
    text-indent: 5%;
    font-size: 1rem;
    text-align: justify;
}

.press a{
    font-weight: 500;
}

.press h2{
    font-weight: 400;
    font-size: 1.25rem;
    text-indent: 2.5%;
    padding-top: 1.5rem;
}

.press ol, ul{
    padding-left: 20%;
}

.press .footnotes-div ul{
    list-style-type: none;
    font-size: 0.8rem;
}