/*
List of available themes:
- Red / classic: .rt
- Dark: .dt
- Green: .gt
*/


/* Red / classic theme CSS */
.rt .full-container{
    background-color: #F4F3F2;
}
.rt .main-container{
    background-color: #FFFEFE;
}
.rt .topbar{
    background-color: #2B2B2B;
}
.rt .navbar{
    background-color: #424141;
}
.rt .separator{
    background-color: #EFECEC;
}
.rt .bottombanner{
    background-color: #C61F1F;
}
.rt footer{
    background-color: #212020;
    color: #fff;
}
.rt .sidebar .sidebar-links a{
    color: #EA4C3C !important;
}

/* Press */
.rt .press a, .rt .wiki a{
    color: #E74C3C !important;
    text-decoration: none !important;
    font-weight: 500;
}
.rt .press a:hover, .rt .wiki a:hover{
    text-decoration: underline !important;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.1s;
}
.rt .navbar a:hover{
    color: #fff;
}
.rt .press .media-div{
    background-color: #FBFAFA;
}

/*Wiki*/
.rt .wiki .main-card{
    background-color: #F3F1F1;
}
.rt .wiki .main-card h5{
    background-color: #C61F1F;
}
.rt .wiki .main-card h6{
    background-color: #DC3F3F;
}
.rt .wiki .toc, .rt .wiki .series{
    background-color: #FBFAFA;
}
.rt .wiki .secondary-img{
    background-color: #FBFAFA;
}
.rt .wiki .wiki-table th{
    background-color: #D03B2A;
}
.rt .wiki .wiki-table td{
    background-color: #EFEDED;
}
.rt
.rt
.rt