/*CSS for wiki section*/

/*.wiki{
    font-family: "Times New Roman", Times, serif;
}*/

.wiki ol, ul{
    padding-left: 20%;
}

.wiki h1{
    font-weight: 100;
    font-size: 2.5rem;
}

.wiki a{
    font-weight: 500;
}

.wiki .main-image-block{
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 90%;
}

.wiki .main-card h5{
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    text-align: center;
    font-weight: 300;
}

.wiki .main-card .image-card{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: block;
    padding-top: 0.5rem;
}

.wiki .main-card .caption{
    font-size: 0.5rem;
    text-align: center;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;;
}

.wiki .main-card h6{
    margin-top: 0.1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    text-align: center;
    font-weight: 200;
}

.wiki .main-card table{
    width: 100%;
    text-align: center;
    font-size: 0.75rem;
    margin-left: 0;
    padding-bottom: 1rem;
}

.wiki .main-card td{
    width: 50%;
    padding-bottom: 0.2rem;
}

.wiki .main-card td img{
    height: 1.5rem;
}

.wiki .wiki-text{
    text-indent: 7%;
    text-align: justify;
}

.wiki .toc{
    height: auto;
}

.wiki .toc h3{
    font-weight: 100;
    font-size: 1rem;
    text-align: center;
    padding-top: 0.8rem;
}

.wiki .toc table{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 0.8rem;
}

.wiki .toc table p{
    padding-bottom: 0;
    margin-bottom: 0.25rem;
}

.wiki .toc .toc-h3{
    padding-left: 0.5rem;
}

.wiki .toc .toc-h4{
    padding-left: 1rem;
}

.wiki .toc .toc-h5{
    padding-left: 1.5rem;
}

.wiki .toc .toc-h6{
    padding-left: 2rem;
}

.wiki .toc .toc-entry, .wiki .toc .sub-toc-entry{
    margin: 0.1rem;
}

.wiki .series{
    margin-top: 2rem;
}

.wiki .series h3{
    font-weight: 100;
    font-size: 1rem;
    text-align: center;
    padding-top: 0.8rem;
}

.wiki .series h4{
    font-weight: 100 !important;
    font-size: 1rem;
    text-align: center;
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;
}

.wiki .series .series-icon{
    height: 4rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.wiki h2{
    font-weight: 400;
    font-size: 1.25rem;
    padding-top: 1.5rem;
}

.wiki h3{
    font-weight: 500;
    font-size: 1rem;
    margin-top: 0;
    padding-top: 0;
}

.wiki h4{
    font-weight: 400;
    font-size: 1rem;
    margin-top: 0;
    padding-top: 0;
}

.wiki h5{
    font-weight: 300;
    font-size: 0.9rem;
    margin-top: 0;
    padding-top: 0;
}

.wiki h6{
    font-weight: 200;
    font-size: 0.8rem;
    margin-top: 0;
    padding-top: 0;
}

.wiki .secondary-img{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    text-align: center;
    font-size: 0.66rem;
}

.wiki .secondary-img img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 0.5rem;
    width: 95%;
}

.wiki .secondary-img p{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.3rem;
}

.wiki .secondary-img audio, video, iframe{
    padding-top: 1rem;
}

.wiki .wiki-table{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.wiki .wiki-table, .wiki-table th, .wiki-table td{
    border: 1px solid black;
    text-align: center;
}