/*CSS for the Universal Navbar*/
nav{
    /*background-color: #242323;
    background-color: #910000;
    background-color: #212F3D;
    background-color: #7a0101;*/
    background-color: #1c1c1c;
}
nav a{
    color: white;
}
.languages{
    padding-top: 3vh;
    font-weight: lighter;
}
.languages ul{
    margin-left: auto;
    margin-right: auto;
    display: block;
    list-style-type: none;
    /*float: left;*/
    display: inline-block;
}
.languages ul li {
    float: left;
    padding-left: 2rem;
    font-size: 0.95rem;
}
.logo-img{
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 4.5rem;
}
.social{
    padding-top: 2vh;
}
.social ul{
    list-style-type: none;
    float: right;
}
.social ul li{      
    float: left;
    padding-right: 3rem;
    font-size: 2rem;
}
.social ul li:hover{
    color: #ff3b3b !important;
    transition: 0.4s;
}
.available a{
    color: #fff;
}
.available a:hover{
    /*color: #abdbff;*/
    color: #ff3b3b;
    font-weight: bolder;
    transition: 0.4s;
}
.unavailable a{
    color: #a3a2a3;
}
.unavailable a:hover{
    color: #a3a2a3;
    text-decoration: none;
}